@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: 0.1s ease-in;
}
